<!doctype html>
<html lang="en-US">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simula UC - Casos de Estudio</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Arisn - Multi Purpose HTML5 Template">
    <meta name="author" content="premonday.com">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i%7CPoppins:300,400,500,600" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/reset.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/ion-icons/ionicons.min.css">
    <link rel="stylesheet" href="vendor/owl-slider/owl.carousel.css">
    <link rel="stylesheet" href="vendor/slideshow/slideshow.css">
    <link rel="stylesheet" href="vendor/lightbox/lity.min.css">
    <!-- Theme CSS -->
    <link id="theme" rel="stylesheet" href="css/theme4.css">
    <script src="vendor/modernizr.js"></script>
</head>

<body class="blog-post">

    <!-- Scroll up -->
    <div class="scrollup">
        <i class="ion-ios-arrow-up"></i>
    </div>

    <!-- Main Container -->
    <div class="web-in">

        <!-- Search Modal -->
        <div id="search-modal">
            <img src="img/exit.svg" class="exit" alt="">
            <form class="search-form" action="post">
                <label>What are you looking for?</label>
                <input type="text" placeholder="Your search term here...">
                <span>Press <b class="primary">enter</b> to confirm search term</span>
            </form>
        </div>

        <!-- Start Project Modal -->
        <div id="modal-bg">
            <img src="img/exit.svg" class="exit" alt="">
            <div class="holder">
                <div class="placer">
                    <div id="modal" class="center">  
                    <div class="title">                            
                            <span class="promo-heading">Complete el siguiente formulario</span>
                            
                        </div>                      
                        <div class="row">
                            <div class="col-sm-12 w-section mh">
                               <form class="contact-form" method="post" action="contact.php" novalidate="true">
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-name" name="name" type="text" placeholder="Nombre *" required="required" data-error="Nombre es obligatorio.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-6">
                                <div class="form-group">
                                    <input id="form-email" name="email" type="email" placeholder="Email *" required="required" data-error="El email es requerido.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-6">
                                <div class="form-group">
                                    <input id="form-tel" name="tel" type="tel" placeholder="Teléfono" data-error="Por favor, ingrese un número real.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <textarea id="form-textarea" name="Message" cols="30" rows="5" placeholder="Mensaje *" required="required" data-error="el mensaje es requerido."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 center">
                                <input type="submit" value="Enviar Mensaje" class="disabled">
                                <div class="messages"></div>
                            </div>
                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="light" class="transparent start-light regular">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-ui n_">
                            <div>
                                <a href="hp-onepage.html#" class="btn hidden-xs start-project"><span>Contacto</span></a>                                
                                <div id="menu-icon"><span></span></div>
                            </div>
                        </div>
                        <div class="logo-holder n_">
                            <div>
                                <a href="index.html">
                                    <img class="logo" src="img/logo-light.svg" alt="">
                                    <img class="logo alt" src="img/logo-dark.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="nav-content n_">
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Quienes somos</a></li>
                                <li><a href="#proyectos">Proyectos</a>
                                    <!-- <ul class="dropdown mob-show-1">
                                        <li class="nav-col parent">
                                            <ul>
                                                <li class="sub-nav-header parent">
                                                    <ul>
                                                        <li><a href="#"></a></li>
                                                        <li><a href="#"></a></li>
                                                        <li><a href="#"></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul> -->
                                </li>
                                <li><a href="#">Rubros</a>
                                      <ul class="dropdown mob-show-1">
                                        <li class="nav-col parent">
                                            <ul>
                                                <li class="sub-nav-header parent">
                                                    <ul>
                                                        <li><a href="#">Rubro 1</a></li>
                                                        <li><a href="#">Rubro 1</a></li>
                                                        <li><a href="#">Rubro 1</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                   
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header id="sp1" class="center parallax-container dark" data-overlay="9">
            <div class="parallax"><img src="img/case-study/telefonica-header-2.png" alt=""></div>
            <div class="header-in">
                <div class="caption">
                    <span class="tag">Simulación</span>
                    <h1>Telefónica Movistar</h1>
                    <h6>Herramienta de Simulación para Operación de Sucursales</h6>
                    <p class="banner-date">29.09.16 por Pedro P.</p>
                </div>
                <img class="arrow" src="img/arrow.svg" alt="">
            </div>
        </header>

        <section>
            <div class="container border">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>El Problema</h2>

                        <p>La empresa Telefónica Chile S.A. cuenta con múltiples sucursales a lo largo de Chile, cuya principal función es entregar atención presencial a sus clientes, quienes visitan las sucursales por diversos motivos tales como: cambios de equipos, servicio técnico, cambio de plan, dar de baja un servicio, etcétera. Los clientes pueden además seguir rutas distintas de atención, dependiendo del segmento al que pertenecen: negocios o personas. 
Los clientes que llegan a la sucursal ingresan su motivo de visita en una botonera, la cual imprime un ticket indicándole a qué fila pertenece y cuál es su número de atención. Luego esperan hasta que son llamados y pasan a ser atendidos. Cada sucursal dispone de una serie de módulos de atención a clientes, que atienden clientes en base a su requerimiento y segmento. 
La primera interrogante que se plantea es cuál es el requerimiento de personal/módulos disponibles necesario para alcanzar una meta de nivel de servicio. Considerando que la ampliación de una sucursal o la contratación de un mayor número de ejecutivos no son tareas de bajo costo, éstas se deben justificar mediante un análisis cuantitativo profundo. El problema que se presenta es la incertidumbre en la demanda y en los tiempos de atención. Si bien el promedio de clientes atendidos por mes puede ser estable, la diferencia entre un día y otro es importante, lo que dificulta el proceso de planificación.
Por otro lado, cada sucursal decide en base a la experiencia cómo se organizan los distintos módulos. Hay sucursales en que todos los módulos atienden servicio técnico, mientras que en otras sucursales hay módulos exclusivos para esa tarea. Lo mismo sucede con los clientes del segmento negocio. Una de las interrogantes que se presentan es si cada sucursal define correctamente los módulos en base a las características de sus clientes.
Para resolver ambas interrogantes, Telefónica desea analizar cómo se comportan las sucursales al variar la capacidad de atención y/o al modificar los sistemas de filas. Para esto, se implementará un modelo de simulación capaz de representar el funcionamiento de las sucursales.
 
</p>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Tempora fugiat voluptatem dolore debitis minima animi
                            voluptatum recusandae at, iure deleniti, consequuntur
                            fugit labore cum praesentium magni cupiditate veniam
                            asperiores adipisci.</p>
                        <h3>But on a second hand notion...</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Tempora fugiat voluptatem dolore debitis minima animi
                            voluptatum recusandae at.</p> -->
                    </div>
                </div>
                <div class="row m-space image-fw">
                    <div class="col-md-10 col-md-offset-1">
                        <img class="img-responsive" src="img/case-study/sucursal-telefonica.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <h2>Análisis del Problema</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum faucibus leo vel pretium. Donec rutrum, eros quis pellentesque viverra, velit ex egestas ex, a volutpat massa diam at lectus. Aenean scelerisque id dui et cursus. Proin vitae ipsum vel ex fermentum rhoncus. Nulla pellentesque ligula in ipsum laoreet, vitae maximus massa rutrum. Pellentesque facilisis libero sed tincidunt egestas. Phasellus id scelerisque erat, non dapibus neque. In vestibulum turpis eu dapibus porta. Suspendisse interdum, urna nec pulvinar sollicitudin, tellus tortor accumsan mi, sit amet rhoncus tortor eros in ante.</p>


                        
                        <h2>Solución y Resultados</h2>

                        <p>Mauris vulputate aliquam lorem, ac luctus elit congue quis. Donec scelerisque, elit sed varius malesuada, urna ipsum tristique massa, nec pharetra arcu felis a nisl. Phasellus in eros purus. Morbi in laoreet est. Etiam malesuada iaculis leo, eu pharetra augue ultricies sollicitudin. Maecenas semper porttitor ex, eu pretium justo luctus ut. Etiam mattis, nunc in condimentum tristique, tortor libero suscipit lacus, eget iaculis enim magna et leo. Vestibulum iaculis dui vitae nunc suscipit sagittis. Sed orci erat, ullamcorper quis dui ultrices, euismod pharetra mauris. Integer blandit sapien id magna pharetra imperdiet.</p>

                     <!--    <blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eos animi asperiores,
                            deleniti numquam dolores consectetur saepe accusantium
                            voluptatem dolor dicta mollitia at, odio ipsa odit iusto
                            possimus. Similique, accusamus! Econsectetur saepe accusantium
                            voluptatem dolor dicta mollitia at, odio ipsa odit iusto
                            possimus. Similique, accusamus!
                        </blockquote>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Tempora fugiat voluptatem dolore debitis minima animi
                            voluptatum recusandae at, iure deleniti, consequuntur
                            fugit labore cum praesentium magni cupiditate veniam
                            asperiores adipisci.</p>

                        <pre>
#id .class {
    width: auto;
    height: 100px;
    padding: 0;
    text-align: left;
}
</pre>

                        <h3>And so the conclusion leads to...</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Tempora fugiat voluptatem dolore debitis minima animi
                            voluptatum recusandae at.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Debitis unde ea commodi repellat id autem, consequatur
                            rem velit, quibusdam nisi laborum earum, reiciendis cum
                            accusamus, iste laboriosam. Possimus, sit, facere!</p> -->
                    </div>
                </div>
            </div>
        </section>

        <div class="area blog-social">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 hidden-xs">
                        <h3>Compartir este caso</h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 right xs-center">
                        <div class="social">
                            <a href="blog-post.html#"><i class="ion-social-twitter"></i></a>
                            <a href="blog-post.html#"><i class="ion-social-googleplus"></i></a>
                            
                            <a href="blog-post.html#"><i class="ion-social-linkedin-outline"></i></a>                            
                            <a href="blog-post.html#"><i class="ion-social-facebook-outline"></i></a>
                            <a href="blog-post.html#"><i class="ion-social-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row blog-controls hidden-xs">
                    <div class="col-sm-6">
                        <a class="prev-post" href="blog-post.html#"><i class="ion-chevron-left"></i>Nombre de caso anterior</a>
                    </div>
                    <div class="col-sm-6 right">
                        <a class="next-post" href="blog-post.html#">Nombre de siguiente caso<i class="ion-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <section class="grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="posted-by">
                            <h3>Escrito por Pedro Gazmuri Schleyer</h3>
                            <div>
                                <img src="img/team/pedro-gazmuri.png" alt="">
                               <p>
                                Presidente Simula UC <br>
                                Profesor Titular, Escuela de Ingeniería PUC <br>
                                Ingeniero Civil Industrial, Universidad de Chile <br>
                                Ph.D. Industrial Engineering and Operations Research, U. of California, Berkeley, USA 
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dark1">
            <div class="container">
                <!-- <div class="row title">
                    <h2>Related posts</h2>
                </div> -->
                <div class="row m-space">
                    <!-- <div class="col-md-4">
                        <div class="blog-item">

                            <div class="thumb1">
                                <a href="blog-post.html#">
                                    <img src="img/projects/600x400-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="article">
                                <span class="tag">Design</span>
                                <a href="blog-post.html#">
                                    <p>24.09.16</p>
                                    <h3>UX Design Logistics</h3>
                                </a>
                                <p>Proin eu fringilla magna. Aenean semper vel purus
                                    eget ullamcorper.
                                </p>
                                <hr>
                                <h5 class="author">By Adam J</h5>
                            </div>

                        </div>
                    </div> -->
                    <!-- end of item -->
                    <!-- <div class="col-md-4">
                        <div class="blog-item">

                            <div class="thumb1">
                                <a href="blog-post.html#">
                                    <img src="img/projects/600x400-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="article">
                                <span class="tag">Application</span>
                                <a href="blog-post.html#">
                                    <p>24.09.16</p>
                                    <h3>The Real Victims</h3>
                                </a>
                                <p>Proin eu fringilla magna. Aenean semper vel purus
                                    eget ullamcorper.
                                </p>
                                <hr>
                                <h5 class="author">By Will F</h5>
                            </div>

                        </div>
                    </div> -->
                    <!-- end of item -->
                    <!-- <div class="col-md-4">
                        <div class="blog-item">

                            <div class="thumb1">
                                <a href="blog-post.html#">
                                    <img src="img/projects/600x400-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="article">
                                <span class="tag">Lifestyle</span>
                                <a href="blog-post.html#">
                                    <p>24.09.16</p>
                                    <h3>What is under oath?</h3>
                                </a>
                                <p>Proin eu fringilla magna. Aenean semper vel purus
                                    eget ullamcorper.
                                </p>
                                <hr>
                                <h5 class="author">By Josh S</h5>
                            </div>

                        </div>
                    </div> -->
                    <!-- end of item -->
                </div>
            </div>
        </section>

        <!-- Comment Listing -->
        <!-- <section class="comment-list">
            <div class="container border">
                <div class="row title">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Join the discussion</h2>
                        <h4>5 Comments</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="comment">
                            <img src="img/team/p1.jpg" alt="">
                            <h4>Person Name</h4>
                            <p class="date-posted">24 Sep 2016</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Id tempore nostrum eveniet dolore doloribus temporibus
                                exercitationem laboriosam excepturi nesciunt, facere
                                voluptatem illum eos iste totam maxime illo ducimus
                                neque minus.</p>
                            <a class="reply" href="blog-post.html#"><i class="ion-ios-undo"></i></a>
                        </div>
                        <ul class="children">
                            <li>
                                <div class="comment">
                                    <img src="img/team/p2.jpg" alt="">
                                    <h4>Person Name</h4>
                                    <p class="date-posted">24 Sep 2016</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Id tempore nostrum eveniet dolore doloribus
                                        temporibus exercitationem laboriosam excepturi
                                        nesciunt, facere voluptatem illum eos iste
                                        totam maxime illo ducimus neque minus.</p>
                                    <a class="reply" href="blog-post.html#"><i class="ion-ios-undo"></i></a>
                                </div>
                                <ul class="children">
                                    <li>
                                        <div class="comment">
                                            <img src="img/team/p3.jpg" alt="">
                                            <h4>Person Name</h4>
                                            <p class="date-posted">24 Sep 2016</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Id tempore nostrum
                                                eveniet dolore doloribus.</p>
                                            <a class="reply" href="blog-post.html#"><i class="ion-ios-undo"></i></a>
                                        </div>
                                        <div class="comment">
                                            <img src="img/team/p4.jpg" alt="">
                                            <h4>Person Name</h4>
                                            <p class="date-posted">24 Sep 2016</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Id tempore nostrum
                                                eveniet dolore doloribus.</p>
                                            <a class="reply" href="blog-post.html#"><i class="ion-ios-undo"></i></a>
                                        </div>
                                        <div class="comment">
                                            <img src="img/team/p1.jpg" alt="">
                                            <h4>Person Name</h4>
                                            <p class="date-posted">24 Sep 2016</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Id tempore nostrum
                                                eveniet dolore doloribus.</p>
                                            <a class="reply" href="blog-post.html#"><i class="ion-ios-undo"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Contact -->
      <!--   <section id="c_contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 title">
                        <h2>Leave a comment</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form class="contact-form" method="post" action="contact.php">
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-name" name="name" type="text" placeholder="Your Name *" required="required"
                                        data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-6">
                                <div class="form-group">
                                    <input id="form-email" name="email" type="email" placeholder="Email Address *" required="required"
                                        data-error="Email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-6">
                                <div class="form-group">
                                    <input id="form-web" name="website" type="text" placeholder="Your website" data-error="Please provide real phone number.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <textarea id="form-textarea" name="Message" id="" cols="30" rows="5" placeholder="Your message here *"
                                        required="required" data-error="Message is required."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 center">
                                <input type="submit" value="Submit your comment">
                                <div class="messages"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Footer -->
        <footer id="smart" class="dark1">
            <div class="container">
                <div class="row foot-space">
                    <div class="col-md-4 col-sm-12">
                        <img src="img/logo-light.svg" width="100" alt=""><br>
                        <img src="img/dictuc.png" width="100" alt="">
                        
                        

                        <p>Simula UC es una empresa DICTUC, de la Escuela de Ingeniería de la PUC,
                         dedicada a desarrollar tecnologías de optimización para la industria.
                        </p>
                        <div class="social">
                            <a href="hp-onepage.html#"><i class="ion-social-linkedin-outline"></i></a>                           
                            <a href="hp-onepage.html#"><i class="ion-social-github"></i></a>
                            <a href="hp-onepage.html#"><i class="ion-merge"></i></a>                         
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 spacer">
                                <h5 class="foot-title">Links de ayuda</h5>
                                <ul>
                                    <li><a href="hp-onepage.html#">Nosotros</a></li>
                                    <li><a href="hp-onepage.html#">Detalles de la Empresa</a></li>
                                    <li><a href="hp-onepage.html#">Como llegar</a></li>
                                    <li><a href="hp-onepage.html#">Horario de atención</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 spacer">
                                <h5 class="foot-title">Empresa</h5>
                                <ul>
                                    <li><a href="hp-onepage.html#">Legal</a></li>
                                    <li><a href="hp-onepage.html#">Política de Cookies</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 spacer">
                                <h5 class="foot-title">Soporte</h5>
                                <ul>
                                    <li><a href="hp-onepage.html#">Trabaje con nosotros</a></li>
                                    <li><a href="hp-onepage.html#">FAQ</a></li>                                   
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                    <div class="col-xs-12 xs-center">
                        <p class="footer-text">Copyright &copy; Simula UC.
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end of web-in -->
    <script src="vendor/jquery-2.2.1.min.js"></script>
    <script src="vendor/matchHeight-min.js"></script>
    <script src="vendor/contact/validator.js"></script>
    <script src="vendor/contact/contact.js"></script>
    <script src="vendor/pace.min.js"></script>
    <script src="vendor/headroom/headroom.min.js"></script>
    <script src="vendor/owl-slider/owl.carousel.min.js"></script>
    <script src="vendor/slideshow/anime.min.js"></script>
    <script src="vendor/slideshow/imagesloaded.pkgd.min.js"></script>
    <script src="vendor/slideshow/main.js"></script>
    <script src="vendor/parallax/materialize.min.js"></script>
    <script src="vendor/lightbox/lity.min.js"></script>
    <script src="vendor/tabs/jquery.tabslet.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="js/main.min.js"></script>
</body>

</html>
