<!doctype html>
<html lang="en-US">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>Nosotros - Simula UC</title>
    <meta name="keywords" content="Simula UC, Simulación, Optimización" />
    <meta name="description" content="Simula UC - Simulación y Optimización de Procesos">
    <meta name="author" content="Simula UC">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i%7CPoppins:300,400,500,600" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/reset.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/ion-icons/ionicons.min.css">
    <link rel="stylesheet" href="vendor/owl-slider/owl.carousel.css">
    <link rel="stylesheet" href="vendor/slideshow/slideshow.css">
    <link rel="stylesheet" href="vendor/lightbox/lity.min.css">
    <!-- Theme CSS -->
    <link id="theme" rel="stylesheet" href="css/theme4.css">
    <script src="vendor/modernizr.js"></script>
</head>

<body>

    <!-- Scroll up -->
    <div class="scrollup">
        <i class="ion-ios-arrow-up"></i>
    </div>

    <!-- Main Container -->
    <div class="web-in">

        <!-- Search Modal -->
        <div id="search-modal">
            <img src="img/exit.svg" class="exit" alt="">
            <form class="search-form" action="post">
                <label>What are you looking for?</label>
                <input type="text" placeholder="Your search term here...">
                <span>Press <b class="primary">enter</b> to confirm search term</span>
            </form>
        </div>

        <!-- Start Project Modal -->
        <div id="modal-bg">
            <img src="img/exit.svg" class="exit" alt="">
            <div class="holder">
                <div class="placer">
                    <div id="modal" class="center">
                        <div class="title">
                            <h5>Start a Project</h5>
                            <span class="promo-heading">Let's discuss your next project.</span>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 w-section mh"><i class="ion-ios-star-outline"></i>
                                <h3>Our Service</h3>
                                <p>Lorem ipsum dolor amet consectetuer adipis.
                                </p>
                            </div>
                            <div class="col-sm-6 w-section mh"><i class="ion-ios-glasses-outline"></i>
                                <h3>Our Promise</h3>
                                <p>Lorem ipsum dolor amet consectetuer adipis.
                                </p>
                            </div>
                            <div class="col-sm-6 w-section mh"><i class="ion-ios-filing-outline"></i>
                                <h3>Your Project</h3>
                                <p>Lorem ipsum dolor amet consectetuer adipis.
                                </p>
                            </div>
                            <div class="col-sm-6 w-section mh"><i class="ion-ios-person-outline"></i>
                                <h3>Focus on You</h3>
                                <p>Lorem ipsum dolor amet consectetuer adipis.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <a href="p-about-us.html#" class="btn"><span>Give us a call</span></a>
                        <a href="p-about-us.html#" class="btn"><span>Contact Page</span></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
         <nav id="light" class="transparent start-light regular">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-ui n_">
                            <div>
                                <a href="hp-onepage.html#" class="btn hidden-xs start-project"><span>Contacto</span></a>                                
                                <div id="menu-icon"><span></span></div>
                            </div>
                        </div>
                        <div class="logo-holder n_">
                            <div>
                                <a href="index.html">
                                    <img class="logo" src="img/logo-light.svg" alt="">
                                    <img class="logo alt" src="img/logo-dark.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="nav-content n_">
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Quienes somos</a></li>
                                <li><a href="#proyectos">Proyectos</a>
                                    <!-- <ul class="dropdown mob-show-1">
                                        <li class="nav-col parent">
                                            <ul>
                                                <li class="sub-nav-header parent">
                                                    <ul>
                                                        <li><a href="#"></a></li>
                                                        <li><a href="#"></a></li>
                                                        <li><a href="#"></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul> -->
                                </li>
                                <li><a href="#">Rubros</a>
                                      <ul class="dropdown mob-show-1">
                                        <li class="nav-col parent">
                                            <ul>
                                                <li class="sub-nav-header parent">
                                                    <ul>
                                                        <li><a href="#">Rubro 1</a></li>
                                                        <li><a href="#">Rubro 1</a></li>
                                                        <li><a href="#">Rubro 1</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                   
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header id="sp3" class="dark2" style="background-image:url('img/headers/subpage.jpg')"
            data-overlay="9">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 page-title">
                        <h1 class="h3">Nosotros</h1></div>
                    <div class="col-xs-6 right breadcrumbs hidden-xs">
                        <a href="inicio.html">Inicio</a> <i class="ion-chevron-right"></i>
                        <a href="nosotros.html">Nosotros</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Gallery -->
        <section class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mh">
                        <div class="single-pic">
                            <img src="img/office/1-750x450.jpg" alt="">
                            <img src="img/office/2-750x450.jpg" alt="">
                            <img src="img/office/3-750x450.jpg" alt="">
                            <img src="img/office/4-750x450.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 mh">
                        <div class="content-fixer">
                            <div class="content-holder">
                                <h5>Simula UC</h5>
                                <h2>Quiénes Somos</h2>
                                <p>
                                Simula UC es el área de DICTUC S.A. especializada en Simulación y Optimización de Procesos.

                                El equipo está liderado por Pedro Gazmuri S., PhD, profesor titular de la Escuela de Ingeniería de la Universidad Católica , y por los Ingenieros Pedro Halçartégaray M. y Pablo Senosiain C. 

                                El equipo tiene más de 30 años de experiencia en consultoría e investigación aplicada. En los últimos tres años, se han desarrollado más de 30 proyectos, con las más destacadas empresas del país.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row m-space">
                    <div class="col-md-12">
                        <div class="accordion">
                            <li class="open default">¿Qué hacemos?
                                <ul>
                                    <p>
                                        "Apoyamos la toma de decisiones en condiciones de intertidumbre mediante el uso de herramientas avanzadas de investigación operativa"
                                        Desarrollamos modelos de simulación adaptados a los requerimientos de la empresa. Estos modelos pueden ser utilizados como herramientas para la toma de decisiones periódicas, o como un apoyo para el desarrollo de estudios y evaluaciones.
                                    </p>
                                </ul>
                            </li>

                            <li>Our core values
                                <ul>
                                    <h3>Second accordion slide</h3>
                                    <p>Vivamus facilisisnibh scelerisque laoreet. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing
                                        elit. Aspernatur vel distinctio minima ipsa
                                        nostrum quis sequi.</p>
                                </ul>
                            </li>

                            <li>Arisn Etiquette
                                <ul>
                                    <h3>Third accordion slide</h3>
                                    <p>Vivamus facilisisnibh scelerisque laoreet. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing
                                        elit. Aspernatur vel distinctio minima ipsa
                                        nostrum quis sequi.</p>
                                </ul>
                            </li>
                        </div>
                    </div>                    
                </div> -->
            </div>
        </section>
 <!-- Footer -->
        <footer id="smart" class="dark1">
            <div class="container">
                <div class="row foot-space">
                    <div class="col-md-4 col-sm-12">
                        <img src="img/logo-light.svg" width="100" alt=""><br>
                        <img src="img/dictuc.png" width="100" alt="">
                        
                        

                        <p>Simula UC es una empresa DICTUC, de la Escuela de Ingeniería de la PUC,
                         dedicada a desarrollar tecnologías de optimización para la industria.
                        </p>
                        <div class="social">
                            <a href="hp-onepage.html#"><i class="ion-social-linkedin-outline"></i></a>                           
                            <a href="hp-onepage.html#"><i class="ion-social-github"></i></a>
                            <a href="hp-onepage.html#"><i class="ion-merge"></i></a>                         
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 spacer">
                                <h5 class="foot-title">Links de ayuda</h5>
                                <ul>
                                    <li><a href="hp-onepage.html#">Nosotros</a></li>
                                    <li><a href="hp-onepage.html#">Detalles de la Empresa</a></li>
                                    <li><a href="hp-onepage.html#">Como llegar</a></li>
                                    <li><a href="hp-onepage.html#">Horario de atención</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 spacer">
                                <h5 class="foot-title">Empresa</h5>
                                <ul>
                                    <li><a href="hp-onepage.html#">Legal</a></li>
                                    <li><a href="hp-onepage.html#">Política de Cookies</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 spacer">
                                <h5 class="foot-title">Soporte</h5>
                                <ul>
                                    <li><a href="hp-onepage.html#">Trabaje con nosotros</a></li>
                                    <li><a href="hp-onepage.html#">FAQ</a></li>                                   
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                    <div class="col-xs-12 xs-center">
                        <p class="footer-text">Copyright &copy; Simula UC.
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end of web-in -->
    <script src="vendor/jquery-2.2.1.min.js"></script>
    <script src="vendor/matchHeight-min.js"></script>
    <script src="vendor/contact/validator.js"></script>
    <script src="vendor/contact/contact.js"></script>
    <script src="vendor/pace.min.js"></script>
    <script src="vendor/headroom/headroom.min.js"></script>
    <script src="vendor/owl-slider/owl.carousel.min.js"></script>
    <script src="vendor/slideshow/anime.min.js"></script>
    <script src="vendor/slideshow/imagesloaded.pkgd.min.js"></script>
    <script src="vendor/slideshow/main.js"></script>
    <script src="vendor/parallax/materialize.min.js"></script>
    <script src="vendor/lightbox/lity.min.js"></script>
    <script src="vendor/tabs/jquery.tabslet.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="js/main.min.js"></script>
</body>

</html>
